<%= form_with(model: profile, local: true) do |form| %>
<% if profile.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
        <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
</div>

<div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, maxlength: 150 %>
</div>

<div class="field">
    <%= form.label :prefers %>
    <%= form.text_area :prefers %>
</div>

<p> Use an <a href="https://imgur.com/">imgur</a> link or something (right-click copy image url) </p>
<div class="field">
    <%= form.label :pic_url %>
    <%= form.text_field :pic_url %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>