<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Bio</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.profile.username, user %></td>
            <td><%= user.email %></td>
            <td><%= user.profile.bio.gsub(/\n/, '<br/>').html_safe %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<% if signed_in? %>
<%= link_to 'My account', "/my_account"%>
<% else %>
<%= link_to 'Create account?', "/sign_up" %>
<% end %>