<div id="clearance" class="sign-up">
    <h2><%= t(".title") %></h2>
    <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
        <%= form.submit %><label for="sn-1" class="sidenote-toggle sidenote-number"></label>
        <input type="checkbox" id="sn-1" class="sidenote-toggle" />
        <span class="sidenote">
            These emails are <strong>completely unverified</strong>
            so you can use something like
            <pre>swag@clout.com</pre> and it's totally fine.
        </span>
        <label for="sn-2" class="sidenote-toggle sidenote-number"></label>
        <input type="checkbox" id="sn-2" class="sidenote-toggle" />
        <span class="sidenote">
            In case you were concerned, rest assured these passwords are
            <a href="https://en.wikipedia.org/wiki/Salt_(cryptography)">salted</a> and
            <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function">hashed</a> before
            they hit the servers. I.e. password plaintext isn't stored.
        </span>
    </div>

    <div class="other-links">
        Would you like to <%= link_to t(".sign_in"), sign_in_path %> instead my good friend?
    </div>
    <% end %>
</div>