<h1> <%= @user.profile.username %> </h1>
<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>
<hr>
<p>
    <strong>Bio</strong> <br>
    <%= @user.profile.bio %>
</p>
<hr>
<p>
    <strong> Prefers </strong> <br>
    <%= @user.profile.prefers %>
</p>
<hr>
<%= link_to 'Back', users_path %>