<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Santa_id</th>
            <th colspan="4"></th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.profile.username, user %></td>
            <td><%= user.email %></td>
            <td><%= user.profile.bio %></td>
            <td><%= user.profile.santa_id %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New User', "/sign_up" %>